* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    background-color: #dca41f;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position:fixed;
    width: 100%;
    z-index: 1000;
}

header h1 {
    text-align: center;
    font-weight: 700;
    font-size: 1.8em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

nav ul li {
    margin: 0 1.5em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

#hero {
    background: url('чиккен.jpg') no-repeat center center/cover;
    color: #000000;
    padding: 5em 0;
    text-align: center;
    margin-top: 80px; /* Учитываем высоту фиксированного меню */
}

#hero h2 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

#hero p {
    font-size: 1.2em;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#menu {
    padding: 4em 0;
    background-color: #fff;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
}

.menu-item {
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 2em;
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 1em;
}

.menu-item h3 {
    margin: 1em 0 0.5em;
    color: #333;
    font-size: 1.5em;
}

.price {
    font-size: 1.2em;
    font-weight: 600;
    color: #27ae60;
}

#order {
    padding: 4em 0;
    background-color: #f9f9f9;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: 600;
    color: #555;
}

form input, form select, form button {
    width: 100%;
    padding: 1em;
    margin-bottom: 1.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form input:focus, form select:focus {
    border-color: #27ae60;
    outline: none;
}

form button {
    background-color: #27ae60;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #1f8a4c;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}
